:root {
  --font-color: white;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  html {
    overflow:scroll;
  }
  
  /* HEADER CSS */
  
  .App-header {
    background-color: #282c34;
    min-height: 15vh;
    padding-top: 3rem;
    /* display: flex; */
    width: 100%;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    color: white;
    position: fixed;
    text-align: center;
  
  }
  
  .App-header h1 {
    font-size: 4rem;
  }
  
  
  /* SIDEBAR CSS */
  
  .App-sidebar {
    margin-top: 15vh;
    width: 15vw;
    position: fixed;
    height: 100%;
    background-color: #282c34;
  }
  
  .App-menu span {
   list-style-type: none;
   font-size: 3rem;
   display:flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
   padding: 0;
  }
  
  .App-menu li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
  }
  
  .App-menu li:hover {
    cursor: pointer;
  }
  
  .App-menu, .App-menu li{
    text-decoration: none;
    color: white;
  }
  
  li span.emoji {
    visibility: hidden;
    display: none;
  }
  
  
  /* HOME AREA CSS */
  
  .Home-main-area{
    padding-top: 18rem;
    text-align: left;
    width: 20rem;
    margin-left: 36rem;
    width: 80vw;
  }
  
  .Home-main-area h2 {
    font-size: 3rem;
  }
  
  .Home-main-area h3 {
    font-size: 2rem;
  }
  
  .Home-main-area li {
    font-size: 1.8rem;
  }
  
  
  /* TASK LIST CSS */
  
  .Task-list-section {
    text-align: left;
    margin-left: 30rem;
    width: fit-content;
    padding-top: 10rem;
  }
  
  ul.Task-list {
    padding: 1rem;
    font-size: 2.5rem;
  }
  
  .Task-list li{
    margin-bottom: 0.6rem;
  }
  
  .red {
    color: red;
  }
  
  .green {
    color: green;
  }
  
  
  
  /* FOOTER AREA */
  
  
  .author-para, .author-para a{
    font-size: 1.4rem;
    color: rgb(0, 225, 255);
    text-align: center;
  
  }
  /* MEDIA QUERY FOR SIDEBAR */
  
  @media only screen and (max-width:768px) {
    li span.emoji {
      visibility: visible;
      display: inline-block;
    }
  
    li span.menu-title {
      visibility: hidden;
      display: none;
    
    }

    .Task-list-section {
      margin-left: 20rem;
    }
  
  }

  @media only screen and (max-width:500px) {

    .Task-list-section {
      margin-left: 17rem;
    }
  }

  @media only screen and (max-width:425px) {

    .Task-list-section {
      margin-left: 10rem;
    }
  }